:root {
	--light-1: #ffffff;
	--light-2: #dddddd;
	--dark-1: #000000;
	--dark-transparent-1: rgba(0, 0, 0, 0.7);
	--dark-transparent-2: rgba(0, 0, 0, 0.3);
	--dark-2: #333333;
	--primary-dark: #d93f87;
	--primary-light: #ffafd4;
	--accent-dark: #0099ff;
	--accent-light: #3eefff;
	--gradient-horizontal: linear-gradient(
		90deg,
		rgba(217, 63, 135, 1) 0%,
		rgba(20, 43, 162, 1) 66%,
		rgba(62, 239, 255, 1) 100%
	);
}

@import url("https://fonts.googleapis.com/css2?family=Mali:wght@200;400;700&display=swap&family=Work+Sans:wght@200;300;900&display=swap&family=IM+Fell+English:ital@1&display=swap");

body {
	margin: 0;
	font-family: "Work Sans", sans-serif;
	font-weight: 300;
	font-size: 14pt;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
