.BubblePhoto {
	position: relative;
}

.BubblePhoto__Circle {
	position: absolute;
	top: 0px;
	left: 0px;
}

.BubblePhoto__Border {
	z-index: -1;
	transform: scale(1.05);
}

.BubblePhoto__Background {
	z-index: -2;
	transform: scale(1.05) translate(20%, 10%);
}
