.Footer {
	background-color: var(--dark-2);
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.Footer,
.Footer a,
.Footer a:visited {
	color: var(--light-2);
}

.Footer__Column {
	text-align: center;
	width: fit-content;
	padding: 40px;
}
