.HamburgerButton {
	padding: 21.23px 15px;
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;
}
.HamburgerButton:hover {
	opacity: 0.7;
}
.HamburgerButton.opened:hover {
	opacity: 0.7;
}
.HamburgerButton.opened .HamburgerInner,
.HamburgerButton.opened .HamburgerInner::before,
.HamburgerButton.opened .HamburgerInner::after {
	background-color: var(--dark-1);
}

.HamburgerBox {
	width: 40px;
	height: 24px;
	display: inline-block;
	position: relative;
}

.HamburgerInner {
	display: block;
	top: 50%;
	margin-top: -2px;
}
.HamburgerInner,
.HamburgerInner::before,
.HamburgerInner::after {
	width: 40px;
	height: 4px;
	background-color: var(--dark-1);
	border-radius: 4px;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}
.HamburgerInner::before,
.HamburgerInner::after {
	content: "";
	display: block;
}
.HamburgerInner::before {
	top: -10px;
}
.HamburgerInner::after {
	bottom: -10px;
}

.HamburgerButton.opened .HamburgerInner::before {
	transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

.HamburgerButton.opened .HamburgerInner::after {
	transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
}
