:root {
	--light-1: #ffffff;
	--light-2: #dddddd;
	--dark-1: #000000;
	--dark-2: #333333;
	--primary-dark: #d93f87;
}

@import url("https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap");

body {
	margin: 0;
	font-family: "Zen Loop", cursive;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
