:root {
	--light-1: #ffffff;
	--light-2: #dddddd;
	--dark-1: #000000;
	--dark-2: #333333;
	--primary-dark: #d93f87;
	--primary-light: #ffafd4;
	--accent-dark: #0099ff;
	--accent-light: #3eefff;
}

@import url("https://fonts.googleapis.com/css2?family=Mali:wght@200;400;700&display=swap&family=Work+Sans:wght@200;900&display=swap&family=IM+Fell+English:ital@1&display=swap");

body {
	margin: 0;
	font-family: "Mali", cursive;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
