.MainFrame {
	border-radius: 4px;
	box-shadow: 0px 0px 80px -10px rgba(0, 0, 0, 0.6);
	background-color: var(--light-1);
	position: absolute;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	width: 90vw;
	height: 90vh;
	max-width: 45cm;
	min-width: 15cm;
	max-height: 35cm;
	min-height: 15cm;
	display: flex;
	align-items: stretch;
}
