.NavBarItem {
	--height: 64px;
	width: 100%;
	height: var(--height);
	line-height: var(--height);
	text-align: center;
	cursor: pointer;
	font-size: x-large;
	text-transform: uppercase;
	color: var(--dark-1);
	text-decoration: none;
	position: relative;
}

.NavBarItem.active {
	background-color: var(--primary-light);
}

.NavBarItem:hover {
	background-color: var(--primary-dark);
	color: var(--light-1);
}

.NavBarItem:active {
	background-color: var(--primary-light);
}

.NavBarItem__ActiveIndicator {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 5px;
	background-color: var(--primary-dark);
}
