.NavBarItem {
	--height: 64px;
	width: 100%;
	height: var(--height);
	line-height: var(--height);
	text-align: center;
	cursor: pointer;
	font-size: x-large;
	text-transform: uppercase;
	color: var(--dark-1);
	text-decoration: none;
}

.NavBarItem:hover {
	background-color: var(--primary-dark);
	color: var(--light-1);
}
