.BubblePhoto {
	position: relative;
}

.Circle {
	position: absolute;
}

.Photo {
	top: 0px;
	left: 0px;
}

.Border {
	top: 0px;
	left: 0px;
	z-index: -1;
	transform: scale(1.05);
}

.Background {
	right: 0px;
	bottom: 0px;
	z-index: -2;
	transform: scale(1.05);
}
