.ButtonLink {
	width: fit-content;
	display: flex;
	padding: 12px 30px;
	font-size: x-large;
	border-radius: 5px;
	border: none;
	background: var(--primary-dark);
	color: var(--light-1);
	cursor: pointer;
	font-family: "Work Sans", sans-serif;
	font-weight: 900;
	transition: 0.4s;
	text-decoration-line: none;
}

.ButtonLink:hover {
	box-shadow: 0px 0px 10px var(--dark-transparent-1);
	filter: brightness(1.1);
}
