.NavBarItem > a {
	--height: 64px;
	display: block;
	width: 100%;
	height: var(--height);
	line-height: var(--height);
	text-align: center;
	cursor: pointer;
	font-size: x-large;
	text-transform: uppercase;
	position: relative;
	color: var(--dark-1);
	text-decoration: none;
}

.NavBarItem.active > a {
	background-color: var(--primary-light);
}

.NavBarItem > a:hover {
	background-color: var(--primary-dark);
	color: var(--light-1);
}

.NavBarItem > a:active {
	background-color: var(--primary-light);
}

.NavBarItem.active > a:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 5px;
	background-color: var(--primary-dark);
}
