.Pill {
	padding: var(--padding);
	border: 1px solid var(--primary-dark);
	font-weight: 600;
	color: var(--primary-dark);
	border-radius: 1000px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.Pill.Button {
	cursor: pointer;
}

.Pill.Button:hover {
	background-color: var(--primary-light);
}
