.SideBar,
.SideBar__OuterWrapper,
.SideBar__InnerWrapper {
	transition: 0.4s;
}

.SideBar {
	flex-shrink: 0;
	position: absolute;
	background-color: var(--light-2);
	height: 100%;
	z-index: 1;
}

.SideBar__ButtonWrapper {
	transition: 0.4s;
	position: absolute;
	top: 0;
	right: -75px;
}

.SideBar.opened .SideBar__ButtonWrapper {
	right: 0px;
}

.SideBar.opened .SideBar__OuterWrapper {
	width: var(--expanded-width);
}

.SideBar__OuterWrapper {
	overflow-x: hidden;
	width: 0px;
	height: 100%;
}

.SideBar__InnerWrapper {
	overflow-y: auto;
	width: var(--expanded-width);
}
